
<div class="mt-4">
  <p>MyIP4G is a subscription based platform that charges a monthly or yearly fee for proxy services. The prices of the
    services vary and are charged weekly, monthly and in plans with personalized time.</p>
  <p><strong>Cancellation</strong></p>
  <p>You have the right to access and use proxies for as long as your subscription remains in the 'Enabled' state. You can
    also cancel at any time before the end of your pay period. Prorated refunds are not provided for cancellations made
    before the end of the payment period. If you cancel your subscription, your subscription will be placed in a
    'Cancelled' status and proxies purchased with that subscription will be available until the end of the billing period.
  </p>
  <p><strong>Renewal</strong></p>
  <p>You have the right to renew the subscription if it is in 'Cancelled' status and the billing period for the
    subscription has not ended. Subscription-related proxies will be completely removed from your account if you do not
    renew your subscription before the end of the billing period.</p>
</div>