.header-wrapper{
  background-image: url('/assets/img/hero/hero-bg-rect.svg');
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
}

table{
  margin-top: 35px;
  margin: 0px auto;
  color: white;
  tr{
    border-bottom: 1px solid #777777;
    height: 35px;
  }
  tr>td:first-child{
    width: 150px;
  }
}