<!--[if lte IE 9]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve your
    experience and security.
  </p>
<![endif]-->

<!-- ======== preloader start ======== -->
<div class="preloader">
  <div class="loader">
    <div class="spinner">
      <div class="spinner-container">
        <div class="spinner-rotator">
          <div class="spinner-left">
            <div class="spinner-circle"></div>
          </div>
          <div class="spinner-right">
            <div class="spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- preloader end -->

<!-- ======== header start ======== -->
<header class="header">
  <div class="navbar-area d-flex justify-content-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo.png" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="page-scroll clickable active" ref="#home" (click)="scrollTo('#home')">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll clickable" ref="#features" (click)="scrollTo('#features')">Features</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll clickable" ref="#about" (click)="scrollTo('#about')">About</a>
                </li>

                <li class="nav-item">
                  <a class="page-scroll clickable" ref="#why" (click)="scrollTo('#why')">Why</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Pricing</a>
                </li>
                <li class="nav-item">
                  <a routerLink='/login'>Login</a>
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- navbar area -->
</header>
<!-- ======== header end ======== -->

<!-- ======== hero-section start ======== -->
<section id="home" class="hero-section d-flex justify-content-center">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            Dedicated 4G proxy at an ideal cost for you.
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            At myip4g we develop a powerful and flexible high-quality proxy for you. <strong>Forget exorbitant
              prices</strong>.
          </p>
          <div class="row">
            <div class="col-12">
              <a href="javascript:void(0)" class="main-btn border-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Buy
                now</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img src="assets/img/server-sin-fondo.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== hero-section end ======== -->

<!-- ======== feature-section start ======== -->
<section id="features" class="feature-section d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-bootstrap"></i>
          </div>
          <div class="content">
            <h3>Accessibility</h3>
            <p>
              Each proxy is a dedicated device just for you and you are in control.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-layout"></i>
          </div>
          <div class="content">
            <h3>Easy to use </h3>
            <p>
              Rotate your proxy as many times as you want Fresh IPS within a click's reach.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-coffee-cup"></i>
          </div>
          <div class="content">
            <h3>Technology</h3>
            <p>
              Devices compatible with the best technologies and security.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== feature-section end ======== -->

<!-- ======== about-section start ======== -->
<section id="about" class="about-section d-flex justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="about-img">
          <img src="assets/img/server_05.png" alt="" class="w-100" />
          <img src="assets/img/about/about-left-shape.svg" alt="" class="shape shape-1" />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="about-content">
          <div class="section-title mb-30">
            <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
              Perfect solutions to mask your identity on the internet.
            </h2>
            <p class="wow fadeInUp" data-wow-delay=".4s">
              When we say mobile proxies, we mean it. Unlike many providers on the market, our proxies are based on real, dedicated mobile devices that connect to real networks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== about-section end ======== -->

<!-- ======== about2-section start ======== -->
<section id="about" class="d-flex justify-content-center about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="about-content">
          <div class="section-title mb-30">
            <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
              Flexible pricing plans
            </h2>
            <p class="wow fadeInUp" data-wow-delay=".4s">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua.
            </p>
          </div>
          <ul>
            <li>Quick Access</li>
            <li>Easily to Manage</li>
            <li>24/7 Support</li>
          </ul>
          <a href="javascript:void(0)" class="main-btn btn-hover border-btn wow fadeInUp" data-wow-delay=".6s">Learn
            More</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 order-first order-lg-last">
        <div class="about-img-2">
          <img src="assets/img/Server-cuate.png" alt="" class="w-100" />
          <img src="assets/img/about/about-right-shape.svg" alt="" class="shape shape-1" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== about2-section end ======== -->

<!-- ======== feature-section start ======== -->
<section id="why" class="d-flex justify-content-center feature-extended-section pt-100">
  <div class="feature-extended-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-refresh"></i>
            </div>
            <div class="content">
              <h3>Rotating proxy</h3>
              <p>
                Rotate your rotating proxy as many times as you like or set custom rotation intervals (upon request), whenever, and keep your IP addresses up to date.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-star"></i>
            </div>
            <div class="content">
              <h3>Dedicated</h3>
              <p>
                Without sharing. Your device is exclusive to you and only to
                 you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-rating"></i>
            </div>
            <div class="content">
              <h3>Stable</h3>
              <p>
                We guarantee 99% connectivity, we maintain your connection
                  continues across our devices.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-slider"></i>
            </div>
            <div class="content">
              <h3>Unlimited</h3>
              <p>
                Unlike other devices our proxies are
                 unlimited, we guarantee 100% speed regardless of your
                 consumption.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-planet"></i>
            </div>
            <div class="content">
              <h3>Fresh IPs</h3>
              <p>
                Our geolocation is different from that of our
                 competitors.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended text-center">
            <div class="icon">
              <i class="icon-diamond"></i>
            </div>
            <div class="content">
              <h3>Low cost</h3>
              <p>
                We offer a service of the highest quality with competitive prices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== feature-section end ======== -->

<!-- ======== subscribe-section start ======== -->
<section id="contact" class="d-flex justify-content-center subscribe-section pt-120">
  <div class="container">
    <div class="subscribe-wrapper img-bg">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-7">
          <div class="section-title mb-15">
            <h2 class="text-white mb-25">Contact us</h2>
            <p class="text-white pr-5">
              Leave your email and we will contact you.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form action="#" class="subscribe-form">
            <input type="email" name="subs-email" id="subs-email" placeholder="Your Email" />
            <button type="submit" class="main-btn btn-hover">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== subscribe-section end ======== -->

<!-- ======== footer start ======== -->
<footer class="footer d-flex justify-content-center">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-widget">
            <div class="logo mb-30">
              <a href="index.html">
                <img src="assets/img/logo.png" alt="" />
              </a>
            </div>
            <div class="footer-information text-white">
              <div class="d-flex align-items-center">
                <img src="assets/img/email.png" width="30px" class="mr-3"/> <span>support@myip4g.com</span>
              </div>
              <div class="d-flex mt-3">
                <img src="assets/img/whatsapp.png"width="30px" class="mr-3"/> <span>+1 4252807648</span>
              </div>
              
            </div>
            <!-- <ul class="socials">
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-twitter-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="footer-widget">
            
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget">
            
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget">
            <ul class="links">
              <li><a routerLink='/guest'>Frequent questions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="assets/js/main.js"></script>