<!--[if lte IE 9]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve your
    experience and security.
  </p>
<![endif]-->

<!-- ======== preloader start ======== -->
<div class="preloader">
  <div class="loader">
    <div class="spinner">
      <div class="spinner-container">
        <div class="spinner-rotator">
          <div class="spinner-left">
            <div class="spinner-circle"></div>
          </div>
          <div class="spinner-right">
            <div class="spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- preloader end -->

<!-- ======== header start ======== -->
<header class="header">
  <div class="navbar-area d-flex justify-content-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo.png" alt="Logo" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
            >
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a
                    class="page-scroll clickable active"
                    ref="#home"
                    (click)="scrollTo('#home')"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="page-scroll clickable"
                    ref="#features"
                    (click)="scrollTo('#features')"
                    >Features</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="page-scroll clickable"
                    ref="#about"
                    (click)="scrollTo('#about')"
                    >About</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="page-scroll clickable"
                    ref="#why"
                    (click)="scrollTo('#why')"
                    >Why</a
                  >
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Pricing</a>
                </li>
                <li class="nav-item">
                  <a routerLink='/login'>Login</a>
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- navbar area -->
</header>
<!-- ======== header end ======== -->

<!-- ======== hero-section start ======== -->
<section id="home" class="hero-section d-flex justify-content-center">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-12 col-md-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            Proxy 4G dedicado a un costo ideal para ti.
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            En myip4g desarrollamos un proxy de alta calidad potente y flexible
            para ti. <strong>Olvídate de precios exorbitantes</strong>.
          </p>
          <div class="row">
            <div class="col-12">
              <a
                href="javascript:void(0)"
                class="main-btn border-btn btn-hover wow fadeInUp"
                data-wow-delay=".6s"
                >Compra ahora</a
              >
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img src="assets/img/server-sin-fondo.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== hero-section end ======== -->

<!-- ======== feature-section start ======== -->
<section id="features" class="feature-section d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-bootstrap"></i>
          </div>
          <div class="content">
            <h3>Accesibilidad</h3>
            <p>
              Cada proxy es un dispositivo dedicado solo para ti y tú tienes el
              control.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-layout"></i>
          </div>
          <div class="content">
            <h3>Facil de usar</h3>
            <p>
              Gire su proxy cuantas veces desee IPS frescas al alcance de un
              click.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-feature">
          <div class="icon">
            <i class="lni lni-coffee-cup"></i>
          </div>
          <div class="content">
            <h3>Tecnología</h3>
            <p>
              Dispositivos compatibles con las mejores tecnologías y seguridad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== feature-section end ======== -->

<!-- ======== about-section start ======== -->
<section id="about" class="about-section d-flex justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="about-img">
          <img src="assets/img/server_05.png" alt="" class="w-100" />
          <img
            src="assets/img/about/about-left-shape.svg"
            alt=""
            class="shape shape-1"
          />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="about-content">
          <div class="section-title mb-30">
            <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
              Soluciones perfectas para enmascarar tu identidad en internet.
            </h2>
            <p class="wow fadeInUp" data-wow-delay=".4s">
              Cuando decimos proxies móviles, lo decimos en serio. A diferencia
              de muchos proveedores en el mercado, nuestros proxies se basan en
              dispositivos móviles verdaderos y dedicados que se conectan a
              redes reales.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== about-section end ======== -->

<!-- ======== about2-section start ======== -->
<section id="about" class="d-flex justify-content-center about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="about-content">
          <div class="section-title mb-30">
            <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
              Planes de precios flexibles
            </h2>
            <p class="wow fadeInUp" data-wow-delay=".4s">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua.
            </p>
          </div>
          <ul>
            <li>Quick Access</li>
            <li>Easily to Manage</li>
            <li>24/7 Support</li>
          </ul>
          <a
            href="javascript:void(0)"
            class="main-btn btn-hover border-btn wow fadeInUp"
            data-wow-delay=".6s"
            >Learn More</a
          >
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 order-first order-lg-last">
        <div class="about-img-2">
          <img src="assets/img/Server-cuate.png" alt="" class="w-100" />
          <img
            src="assets/img/about/about-right-shape.svg"
            alt=""
            class="shape shape-1"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== about2-section end ======== -->

<!-- ======== feature-section start ======== -->
<section
  id="why"
  class="d-flex justify-content-center feature-extended-section pt-100"
>
  <div class="feature-extended-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-display"></i>
            </div>
            <div class="content">
              <h3>Proxy rotativo</h3>
              <p>
                Gira tu proxy rotativo cuantas veces desees o establece
                intervalos de rotación personalizados (previa solicitud), cuando
                sea, y mantenga sus direcciones IP actualizadas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-leaf"></i>
            </div>
            <div class="content">
              <h3>Dedicado</h3>
              <p>
                Sin compartir. Tu dispositivo es exclusivo para ti y solo para
                ti.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-grid-alt"></i>
            </div>
            <div class="content">
              <h3>Estable</h3>
              <p>
                Garantizamos el 99% de conectividad, mantenemos tu conexión
                continua a través de nuestros dispositivos.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-javascript"></i>
            </div>
            <div class="content">
              <h3>Ilimitado</h3>
              <p>
                A diferencia de otros dispositivos nuestros proxies son
                ilimitados, te garantizamos la velocidad al 100% sin importar tu
                consumo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-layers"></i>
            </div>
            <div class="content">
              <h3>IPs frescas</h3>
              <p>
                Nuestra geolocalización es diferente a la de nuestros
                competidores.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-extended">
            <div class="icon">
              <i class="lni lni-rocket"></i>
            </div>
            <div class="content">
              <h3>Bajo costo</h3>
              <p>
                Ofrecemos un servicio de la más alta calidad con precios
                competitivos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== feature-section end ======== -->

<!-- ======== subscribe-section start ======== -->
<section
  id="contact"
  class="d-flex justify-content-center subscribe-section pt-120"
>
  <div class="container">
    <div class="subscribe-wrapper img-bg">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-7">
          <div class="section-title mb-15">
            <h2 class="text-white mb-25">Contáctanos</h2>
            <p class="text-white pr-5">
              Deja tu email y nosotros te contactaremos.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form action="#" class="subscribe-form">
            <input
              type="email"
              name="subs-email"
              id="subs-email"
              placeholder="Your Email"
            />
            <button type="submit" class="main-btn btn-hover">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======== subscribe-section end ======== -->

<!-- ======== footer start ======== -->
<footer class="footer d-flex justify-content-center">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="footer-widget">
            <div class="logo mb-30">
              <a href="index.html">
                <img src="assets/img/logo.png" alt="" />
              </a>
            </div>
            <p class="desc mb-30 text-white">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
              dinonumy eirmod tempor invidunt.
            </p>
            <!-- <ul class="socials">
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-twitter-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
              <li>
                <a href="jvascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>

        <!-- <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="footer-widget">
            <h3>About Us</h3>
            <ul class="links">
              <li><a href="javascript:void(0)">Home</a></li>
              <li><a href="javascript:void(0)">Feature</a></li>
              <li><a href="javascript:void(0)">About</a></li>
              <li><a href="javascript:void(0)">Testimonials</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget">
            <h3>Features</h3>
            <ul class="links">
              <li><a href="javascript:void(0)">How it works</a></li>
              <li><a href="javascript:void(0)">Privacy policy</a></li>
              <li><a href="javascript:void(0)">Terms of service</a></li>
              <li><a href="javascript:void(0)">Refund policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="footer-widget">
            <h3>Other Products</h3>
            <ul class="links">
              <li><a href="jvascript:void(0)">Accounting Software</a></li>
              <li><a href="jvascript:void(0)">Billing Software</a></li>
              <li><a href="jvascript:void(0)">Booking System</a></li>
              <li><a href="jvascript:void(0)">Tracking System</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>


<script src="assets/js/main.js"></script>
