<accordion  class="mt-4" [isAnimated]="true">
  <accordion-group heading="What locations are available?">
    Lithuania. Other locations are on our roadmap.
  </accordion-group>
  <accordion-group heading="How frequently can I change the IP?">
    <p>You can do an IP change action on our dashboard or with an API call as many times as you want without any
      cooldown or delays.</p>
  </accordion-group>
  <accordion-group heading="Is it actually 4G LTE?">
    <p>Yes. Basically, you are renting a physical phone with your own SIM card filled with unlimited data.</p>
  </accordion-group>
  <accordion-group heading="How much bandwidth / data can I use?">
    <p>Data is unlimited, with no throttling.</p>
  </accordion-group>
  <accordion-group heading="How long do I have access to each proxy?">
    <p>Each proxy lasts for one month or one week depending on your subscription and payment automatically recurs
      until you cancel.</p>
  </accordion-group>
  <accordion-group heading="Is there a proxy setup time?">
    <p>Typically within 24 hours of payment being received. It can take up to 48 if we are experiencing high volume
      orders.</p>
  </accordion-group>
  <accordion-group heading="Is there a proxy setup time?">
    <p>Typically within 24 hours of payment being received. It can take up to 48 if we are experiencing high volume
      orders.</p>
  </accordion-group>
  <accordion-group heading="How does IP rotation work?">
    <p>All proxies can rotate at a custom set timing, or on command via the MyProxy Dashboard, or with API request.</p>
  </accordion-group>
  <accordion-group heading="How many connections can I use on 1 proxy?">
    <p>There is no limit on threads or connections. Obviously, the more you load onto 1 proxy ― the slower it will
      become (just like a PC), so it is up to our customers to determine what works best for their use.</p>
  </accordion-group>
  <accordion-group heading="Is there ever downtime?">
    <p>Typically, no. Once or twice a month, we may perform short, server / proxy maintenance to ensure our service
      is continuously optimized.</p>
  </accordion-group>
  <accordion-group heading="What payment methods do you accept?">
    <p>We accept any prepaid, debit or credit cards, Apple Pay, and Google Pay.</p>
  </accordion-group>
  <accordion-group heading="Is it possible to ask for a refund?">
    <p>When you make your first payment to Proximy, you agree to pay and take responsibility for all charges made
      following your service plan. For these reasons, we do not offer refunds of any payment submitted by you. The
      only reasons for a refund are when you are unable to connect to the proxy with our support's help in 3 days
      or we are unable to deliver the service for you anymore. To be fair, no other exceptions are made. Read our
      full <a routerLink='/guest/terms'>Refund Policy</a></p>
  </accordion-group>
  <accordion-group heading="Can I get a free trial?">
    <p>We offer 1 day trial for a small 5€ fee. Contact us for more details.</p>
  </accordion-group>
</accordion>