<section>
  <div class="container mt-5">
    <div class="accordion" id="accordion-faq">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>What locations are available?</strong>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-faq">
          <div class="card-body">
            Lithuania. Other locations are on our roadmap.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              <strong>How frequently can I change the IP?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-faq">
          <div class="card-body">

            You can do an IP change action on our dashboard or with an API call as many times as you want without any
            cooldown or delays.

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              <strong>Is it actually 4G LTE?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-faq">
          <div class="card-body">

            Yes. Basically, you are renting a physical phone with your own SIM card filled with unlimited data.

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              <strong>How much bandwidth / data can I use?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-faq">
          <div class="card-body">


            Data is unlimited, with no throttling.


          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              <strong>How long do I have access to each proxy?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion-faq">
          <div class="card-body">
            Each proxy lasts for one month or one week depending on your subscription and payment automatically recurs
            until you cancel.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              <strong>Is there a proxy setup time?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion-faq">
          <div class="card-body">
            Typically within 24 hours of payment being received. It can take up to 48 if we are experiencing high volume
            orders.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
              aria-expanded="false" aria-controls="collapseSeven">
              <strong>How does IP rotation work?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion-faq">
          <div class="card-body">
            All proxies can rotate at a custom set timing, or on command via the Proximy Dashboard, or with API request.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingeigth">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseeigth"
              aria-expanded="false" aria-controls="collapseeigth">
              <strong>How many connections can I use on 1 proxy?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseeigth" class="collapse" aria-labelledby="headingeigth" data-parent="#accordion-faq">
          <div class="card-body">
            There is no limit on threads or connections. Obviously, the more you load onto 1 proxy ― the slower it will
            become (just like a PC), so it is up to our customers to determine what works best for their use.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
              aria-expanded="false" aria-controls="collapseNine">
              <strong>Is there ever downtime?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion-faq">
          <div class="card-body">

            Typically, no. Once or twice a month, we may perform short, server / proxy maintenance to ensure our service
            is continuously optimized.

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
              aria-expanded="false" aria-controls="collapseTen">
              <strong>What payment methods do you accept?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion-faq">
          <div class="card-body">
            We accept any prepaid, debit or credit cards, Apple Pay, and Google Pay.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven"
              aria-expanded="false" aria-controls="collapseEleven">
              <strong>Is it possible to ask for a refund?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion-faq">
          <div class="card-body">

            When you make your first payment to Proximy, you agree to pay and take responsibility for all charges made
            following your service plan. For these reasons, we do not offer refunds of any payment submitted by you. The
            only reasons for a refund are when you are unable to connect to the proxy with our support's help in 3 days
            or we are unable to deliver the service for you anymore. To be fair, no other exceptions are made. Read our
            full <a routerLink='/guest/terms'>Refund Policy</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwelve">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
              aria-expanded="false" aria-controls="collapseTwelve">
              <strong>Can I get a free trial?</strong>
            </button>
          </h5>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion-faq">
          <div class="card-body">
            We offer 1 day trial for a small 5€ fee. Contact us for more details.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>