@import "/src/sharedVars.scss";



.container{
  margin-top: 100px;
}

.float-add-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: $primaryColor;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  box-shadow: 0 10px 25px -5px rgba(59, 59, 59, 0.6);
  color: white;
  &:hover{
    box-shadow: 0 10px 25px rgba(59, 59, 59, 0.6);
  }
  
}