<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <div class="alert-wrapper">
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="true"
            (onClosed)="onClosed(alert)">
            {{ alert.msg }}</alert>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>IP</th>
            <th>Port</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proxy of proxyList.result">
            <td>{{ proxy.id }}</td>
            <td>{{ proxy.host }}</td>
            <td>{{ proxy.description }}</td>
            <td>
              <select class="form-control" [(ngModel)]="proxy.status" (ngModelChange)="onStatusChange(proxy)"
                [ngClass]="{'alert-danger': proxy.status=='INACTIVE', 'alert-success': proxy.status=='ACTIVE' }">
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
              </select>
            </td>
            <td>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <hr>
  <p>Total:{{proxyList.totalItems || 0}} records</p>
  <pagination *ngIf="proxyList.result.length" [boundaryLinks]="true" [maxSize]="5"
    [totalItems]="proxyList.totalItems || 0" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>

  <button class="float-add-button" (click)="openAdd(formAddProxy)"><i class="bi bi-plus-lg"></i></button>


</div>

<ng-template #formAddProxy>
  <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="proxyForm" (ngSubmit)="addItem()">
      <div class="form-group">
        <label for="nombreInput">Ip</label>
        <input class="form-control" id="nombreInput" type="text" formControlName="host" [ngClass]="{'is-invalid': proxyForm.get('host')?.errors && 
        proxyForm.get('host')?.hasError('required') &&  (proxyForm.get('host')?.dirty || proxyForm.get('host')?.touched)}">
        <div class="invalid-feedback" *ngIf="proxyForm.get('host')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Descripcción</label>
        <input class="form-control" type="text" formControlName="description" >
      </div>
      <div class="form-group">
        <label for="islaInput">User</label>
        <input class="form-control" type="text" formControlName="owner" [ngClass]="{'is-invalid': proxyForm.get('owner')?.errors && 
        proxyForm.get('owner')?.hasError('required') &&  (proxyForm.get('owner')?.dirty || proxyForm.get('owner')?.touched)}">
        <div class="invalid-feedback" *ngIf="proxyForm.get('owner')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Password</label>
        <input class="form-control" type="text" formControlName="password">
        <div class="invalid-feedback" *ngIf="proxyForm.get('host')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Status</label>
        <select formControlName="status" class="form-control">
          <option value="ACTIVE">Active</option>
          <option value="INACTIVE">Inactive</option>
        </select>
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="addItem()">Save</button>
  </div>
</ng-template>