<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="openAdd(formAddProxy)">Add proxy <i class="bi bi-plus-lg"></i></button>
    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-12">
      <div class="row">
        <div class="col-12" *ngFor="let item of proxyList.result">
          <app-proxy-item [item]="item"></app-proxy-item>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <p>Total:{{proxyList.totalItems || 0}} records</p>
  <pagination *ngIf="proxyList.result.length" [boundaryLinks]="true" [maxSize]="5"
    [totalItems]="proxyList.totalItems || 0" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>

<ng-template #formAddProxy>
  <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="proxyForm" (ngSubmit)="addItem()">
      <div class="form-group">
        <label for="nombreInput">Ip</label>
        <input class="form-control" id="nombreInput" type="text" formControlName="host"
          [ngClass]="{'is-invalid': proxyForm.get('host')?.errors && 
        proxyForm.get('host')?.hasError('required') &&  (proxyForm.get('host')?.dirty || proxyForm.get('host')?.touched)}">
        <div class="invalid-feedback" *ngIf="proxyForm.get('host')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Descripcción</label>
        <input class="form-control" type="text" formControlName="description">
      </div>
      <div class="form-group">
        <form [formGroup]="searchForm">
          <input type="text" formControlName="key" class="form-control" placeholder="Buscar email">
        </form>
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="userId"
          [ngClass]="{'is-invalid': proxyForm.get('userId')?.errors && 
      proxyForm.get('userId')?.hasError('required') &&  (proxyForm.get('userId')?.dirty || proxyForm.get('userId')?.touched)}">
          <option value="">Seleccione un usuario</option>
          <option value="{{user.id}}" *ngFor="let user of users">{{user | formatFullName}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="proxyForm.get('userId')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">URL reset</label>
        <input class="form-control" type="text" formControlName="urlReset">
        <div class="invalid-feedback" *ngIf="proxyForm.get('urlReset')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Sock 5</label>
        <input class="form-control" type="text" formControlName="sock">
        <div class="invalid-feedback" *ngIf="proxyForm.get('sock')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Host user</label>
        <input class="form-control" type="text" formControlName="hostUser">
        <div class="invalid-feedback" *ngIf="proxyForm.get('hostUser')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Host password</label>
        <input class="form-control" type="text" formControlName="hostPassword">
        <div class="invalid-feedback" *ngIf="proxyForm.get('hostPassword')?.errors">
          This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="islaInput">Status</label>
        <select formControlName="status" class="form-control">
          <option value="ACTIVE">Active</option>
          <option value="INACTIVE">Inactive</option>
        </select>
        <div class="invalid-feedback">
          This field is required
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="addItem()">Save</button>
  </div>
</ng-template>