$float-brn-size: 80px;

.float{
	width: $float-brn-size;
	height: $float-brn-size;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  position: absolute;
  font-size: 24px;
  top: -7%;
}