<section class="pt-5">
  <p class="text-right"><strong>Current IP:</strong> {{currentIp}}</p>
  <div class="mb-5">
    <button type="button" class="btn btn-success" (click)="openAdd(template)">Agregar</button>
  </div>
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Url</th>
        <th scope="col">Descripcción</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.url}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemForm" (ngSubmit)="addItem()">
      <div class="form-group">
        <label for="nombreInput">Url</label>
        <input class="form-control" id="nombreInput" type="text" formControlName="url">
      </div>
      <div class="form-group">
        <label for="islaInput">Descripcción</label>
        <input class="form-control" type="text" formControlName="description">
      </div>
      <div class="form-group">
        <label>Status</label>
        <select class="form-control" formControlName="status">
          <option value="enuso">En uso</option>
          <option value="disponible">Disponible</option>
        </select>
        
      </div>
    

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="addItem()" >Unirme</button>
  </div>
</ng-template>