<app-header [page]="ipDetail"></app-header>

<div class="container position-relative">
  <button type="button" class="btn float" (click)="openAdd(template)"><i class="text-white bi bi-plus-lg"></i></button>
  <section class="pt-5">
    <p class="text-right"><strong>Current IP:</strong> {{currentIp}}</p>
    <table *ngIf="items.length" datatable [dtOptions]="dtOptions" class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Url</th>
          <th scope="col">Descripcción</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.ip}}</td>
          <td>{{item.description}}</td>
          <td>{{item.score}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="itemForm" (ngSubmit)="addItem()">
        <div class="form-group">
          <label for="nombreInput">Ip</label>
          <input class="form-control" id="nombreInput" type="text" formControlName="ip">
        </div>
        <div class="form-group">
          <label for="islaInput">Descripcción</label>
          <input class="form-control" type="text" formControlName="description">
        </div>
        <div class="form-group">
          <label for="islaInput">Organización</label>
          <input class="form-control" type="text" formControlName="organization">
        </div>
        <div class="form-group">
          <label for="islaInput">Region</label>
          <input class="form-control" type="text" formControlName="region">
        </div>
        <div class="form-group">
          <label>Score</label>
          <input class="form-control" type="text" formControlName="score">
          
        </div>
      
  
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="addItem()" >Unirme</button>
    </div>
  </ng-template>
</div>