<div class="container position-relative">
  <div class="profile-wrapper mt-2" dropdown>
    <a id="button-basic" dropdownToggle type="button" class="button-profile"
            aria-controls="dropdown-basic">
      
    <span class='bi bi-person-circle'></span>
    </a>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>
</div>
