<app-header [page]="ipRemoteDetail"></app-header>

<div class="container position-relative">
  <div class="d-flex position-relative mb-5" style="margin-top: -40px;">
    <button type="button" class="btn float" (click)="openAdd(template)"><i
        class="text-white bi bi-plus-lg"></i></button>
  </div>
  <section class="pt-5">
    <p class="text-right"><strong>Current IP:</strong> {{currentIp}}</p>
    <div class="row mb-3">
      <div class="col-lg-6 col-sm-12">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <input class="form-control" type="text" placeholder="Search" formControlName="seachText" aria-label="Search"
            (change)="search()">
        </form>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="alert-wrapper">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="true"
              (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>
        </div>
      </div>


    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Url</th>
          <th scope="col">Descripcción</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.ip}}</td>
          <td>{{item.description}}</td>
          <td>{{item.score}}</td>
        </tr>
      </tbody>
    </table>
    <p>Total:{{totalItems}} records</p>
    <pagination *ngIf="items.length" [boundaryLinks]="true" [maxSize]="5" [totalItems]="totalItems"
      [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
      firstText="&laquo;" lastText="&raquo;"></pagination>
  </section>

  <ng-template #template>
    <div class="modal-header">
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="ipRecord">
        <alert type="success">
          The <strong>ip:{{ipRecord.ip}}</strong> is registered
        </alert>

      </div>
      <form [formGroup]="itemForm" (ngSubmit)="addItem()">
        <div class="form-group">
          <label for="nombreInput">Ip</label>
          <input class="form-control" id="nombreInput" type="text" formControlName="ip">
        </div>
        <div class="form-group">
          <label for="islaInput">Descripcción</label>
          <input class="form-control" type="text" formControlName="description">
          <br *ngIf="ipRecord">
          <div *ngIf="ipRecord">
            <label>This IP is regitered for: </label>
            <input class="form-control" type="text" value="{{ipRecord.description}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="islaInput">Organización</label>
          <input class="form-control" type="text" formControlName="organization">
        </div>
        <div class="form-group">
          <label for="islaInput">Region</label>
          <input class="form-control" type="text" formControlName="region">
        </div>
        <div class="form-group">
          <label>Score</label>
          <input class="form-control" type="text" formControlName="score">

        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="addItem()">Save</button>
    </div>
  </ng-template>
</div>