html,
body {
  height: inherit !important;
  overflow: none;
  background-color: red;
}

.alert-wrapper {
  position: absolute;
  top: 20p;
  height: 20px;
  width: 100%;
  top: 60px;
  .alert,
  div {
    z-index: 1;
  }
}
